.cart-wrapper {
   background: url(../img/cart-html/cart-bg.jpg) no-repeat;
   background-size: cover;
   background-position: top;
   padding: 16px 0 126px;
   height: 400px;
}

.cart {
   animation: cart 0.5s ease-in-out 0.4s 1 normal backwards;

   @keyframes cart {
      0% {
         transform: translateX(-80%);
         opacity: 0;
      }

      100% {
         transform: translateX(0);
         opacity: 1;
      }
   }

   &__catalog-link {
      display: inline-block;
      margin-top: 40px;
   }
}

.order {
   padding-top: 64px;

   &__title {
      display: none;
   }

   &__content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 0 32px;
   }

   &__box {
      grid-column: span 8;
   }

   &__names {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
   }

   &__name {
      margin-right: 27px;
   }

   &__cards {
      display: flex;
      flex-direction: column;
      gap: 32px 0;
   }

   &__card {
      display: flex;
      justify-content: space-between;
      gap: 0 32px;
      border-top: 1px solid #cacdd8;
      padding-top: 32px;

      &:first-child {
         padding-top: 25px;
      }

      &--left {
         flex-basis: 480px;
         display: flex;
         gap: 0 32px;
      }
   }

   &__card-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 14px 0;
   }

   &__subtitle {
      font-size: 24px;
      font-weight: 500;
   }

   &__text {
      color: $text;
      font-size: 14px;
   }

   &__price {
      color: #050505;
      font-weight: 500;
      font-size: 16px;
   }

   &__card-buttons {
      display: flex;
      gap: 0 30px;
   }

   &__card-button {
      font-size: 14px;
      line-height: 210%;
      text-decoration: underline;

      &:hover {
         text-decoration: none;
      }
   }

   &__input {
      font-family: $font-form;
      border-radius: 6px;
      background: #f7f6f6;
      width: 71px;
      height: 51px;
      padding: 10px 21px;
      font-size: 14px;
      font-weight: 600;
      line-height: 210%;
   }

   &__buttons {
      display: flex;
      gap: 0 7px;
      margin-top: 50px;
   }

   &__button {
      border-radius: 50px;
      border: 1px solid $black;
      width: 200px;
      height: 37px;
      color: $black;
      transition: all 0.2s ease-in-out;

      &:hover {
         color: $white;
         background: $black;
         transition: all 0.3s;
      }

      &--dark {
         color: #020202;
      }
   }
}

.order-form {
   grid-column: span 4;
   border-radius: 20px;
   background: #f7f6f6;
   padding: 42px 28px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 556px;
   width: 379px;

   &__title {
      font-family: $font-main;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 35px;
   }

   &__inputs {
      display: flex;
      flex-direction: column;
      gap: 41px 0;
      align-self: flex-start;
      margin-bottom: 64px;
   }

   &__input {
      border-bottom: 1px solid #cacdd8;
      background-color: transparent;
      padding-bottom: 3px;
      width: 288px;
      transition: all 0.2s ease-in-out;

      &::placeholder {
         color: $black;
      }

      &:focus {
         border-bottom: 1px solid $black;
         transition: all 0.3s;
      }
   }

   &__price {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 18px;

      & span {
         font-weight: 400;
      }
   }

   &__button {
      border-radius: 20px;
      border: 1px solid #040404;
      width: 289px;
      height: 41px;

      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-in-out;
      animation: buy 1.5s ease-in 1s 1 normal backwards;

      @keyframes buy {
         0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: scale(0);
         }

         38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: scale(1);
         }

         55% {
            animation-timing-function: ease-in;
            transform: scale(0.7);
         }

         72% {
            animation-timing-function: ease-out;
            transform: scale(1);
         }

         81% {
            animation-timing-function: ease-in;
            transform: scale(0.84);
         }

         89% {
            animation-timing-function: ease-out;
            transform: scale(1);
         }

         95% {
            animation-timing-function: ease-in;
            transform: scale(0.95);
         }

         100% {
            animation-timing-function: ease-out;
            transform: scale(1);
         }
      }

      &:hover {
         color: $white;
         background: $black;
         transition: all 0.3s;
      }
   }
}

.special__catalog {
   padding: 64px 0 65px;
}
